			table{
				margin: 100px auto;
				border-collapse: collapse;
				border: 1px solid #000;
				width: 800px;
				text-align: center;
			}
			th{
				border: 1px solid #000;
				background-color: #ccc;
				height: 60px;
			}
			th:nth-child(1){
				width: 220px;
			}
			th:nth-child(2){
				width: 220px;
			}
			th:nth-child(3){
				width: 220px;
			}
			th:nth-child(4){
				width: 220px;
			}
			th:nth-child(5){
				width: 220px;
			}
			tr,td{
				border: 1px solid #000;
				height: 50px;
				background-color: antiquewhite;
			}